@import "variables/variables";
@import "public/all";


html, body, .app {
    width: 100%;
    height: 100%;
    font-size: 14px;
    overflow: hidden;
}

.collapse-transition {
    transition: .3s height ease-in-out, .3s padding-top ease-in-out, .3s padding-bottom ease-in-out
}
