@import "variables/variables";
@import "components/all";
@import "public/all";


html, body, .app {
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.collapse-transition {
    transition: .3s height ease-in-out, .3s padding-top ease-in-out, .3s padding-bottom ease-in-out
}

.notifications{
    position: fixed;
    right: $space;
    width: 330px;
    top: $header-height + $space;
    z-index: $notification-index;
}

