@import "bulma";

$menu-item-height: 36px !default;

$menu-backgorund-base: #fefefe;
$menu-background-sub: $white-bis;
$menu-item-background-hover: $white-ter;
$menu-item-color-opened: $white;
$menu-item-background-opened: $primary;
$menu-item-background-active: $primary;
$menu-item-color-active: $white;

