@import "bulma";
@import "menu";

$header-height: 50px !default;
$header-backgrund: $primary !default;
$header-backgrund-hover: darken($primary, 5%);


$space: 6px !default;

$modal-index: 1050;
$message-index: 1000;
$notification-index: 1000;
$nav-index: 900;
$header-index: 900;
$calendar-index: 500;
