@import "../variables/variables";

.hljs{
    background: inherit;
    padding: 0 $space * 4;
}

.vb-codePanel{
    border: 1px solid $border;
    border-radius: $radius;
    max-width: 900px;


    &__toggle{
        padding: $space ;
        border-top: 1px solid $border;
        text-align: center;
        cursor: pointer;

        .icon{
            vertical-align: bottom;
        }
    }

    &__demo{
        padding: $space * 4;
    }

    &__code{
        margin: 0;
        transition: all .3s ease-in-out;
        text-align: left;
        overflow: hidden;
    }
}
